.title-nav {
  margin-left: 30px;
  font-family: Avenir;
  flex: 1;
}

.logo {
  width: 250px;
  align-items: flex-end;
}

.nav-parentdiv {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
}

.nav-div {
  margin-right: 20px;
}
